h2 {
  border: 4px solid black;
  background-color: tomato;

  /* In case of Inline : Padding + Margin are partially respected (half-working)
    height + width are respected (not work)*/
  /* display: inline;
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 20px; */
}

span {
  border: 4px solid black;
  background-color: pink;

  /* In case of Block : Padding + Margin + height + width all are working */
  display: block;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin: 20px;
}

div {
  border: 4px solid black;

  /* In case of Inline-Block : properties of Inline and Block are works together */
  display: inline-block;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin: 20px;
}
