/* Universal Selector */
* {
  border: 2px solid gray;
}

/* ID Selector */

#heading {
  color: red;
  border: 4px solid green;
}

/* Class Selector */
.box {
  border: 2px solid black;
  padding: 10px;
}

/* Attribute Selector */
a[href="http://www.google.com"]
{
  font-size: 20px;
  color: red;
  font-weight: bolder;
  text-decoration: none;
}

/* Element Selector */
button {
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 5px 16px;
  color: rgba(255, 255, 255, 0.913);
  cursor: pointer;
}

/* Decendant Selector : to go futher inside p --> strong --> etc.*/
p strong {
  color: blueviolet;
}

/* Pseudo Selector */
#try:hover {
  background-color: aquamarine;
  cursor: pointer;
  text-align: center;
}

#trying:active {
  text-transform: uppercase;
}

#username:focus {
  background-color: blueviolet;
  color: white;
}

a:visited {
  color: green;
}

/* Structural Pseudo Classes */
ul li:first-child {
  font-style: italic;
}

/* ol li:nth-of-type(even){
  background-color: blueviolet;
} */

/* for specific line 2n + 5 : 5 for starting from 5 line and 2n means 2-2 gaps */
ol li:nth-of-type(2n + 5) {
  background-color: blueviolet;
}
