:root {
    --green-color: green;
}

section {
    width: 65%;
    height: 700px;
    border: 7px solid black;
    margin: 100px auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    border: 5px solid black;
    margin: 4px;
    display: flex;
    justify-content: space-around;
}

.imgs img {
    position: relative;
    width: 400px;
    padding: 20px;
}

.imgs::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Adjust the alpha value (0.5) to control the intensity of the red overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imgs:hover::after {
    opacity: 1;
}
