section {
  width: 67%;
  height: 700px;
  border: 7px solid black;
  margin: 100px auto;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#first-box,
#second-box {
  border: 5px solid black;
  margin: 4px;
  display: flex;
  justify-content: space-around;
}

#imgs img {
  width: 400px;
  padding: 20px;
}

img:hover {
  background-color: red;
}
