#container-box{
    width: 80vw;
    /* border: 4px solid black; */
    display: grid;
    /* grid-template-columns: repeat(3, minmax(300px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    margin: 50px auto;
    column-gap: 10px;
}

div img{
     width: 400px;
    border-radius: 20px;
    margin: 20px;
}

/* div img:hover{
    /* filter: grayscale(1); */
/* } */ 

