*{
    margin: 0;
    padding: 0;
}

nav{
    font-size: 1.8rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    border: 2px solid white;
    padding: 1rem;
}

nav a {
    text-decoration: none;
}

@media screen and (width<=630px) {
    nav, ul{
        flex-direction: column;
    }
    
}