* {
  margin: 0;
}
section {
  background-color: black;
}

section ul li {
  color: white;
  list-style-type: none;
  padding: 1.2rem;
  font-size: 2rem;
}

ul {
  display: flex;
  justify-content: center;
}

#left {
  position: absolute;
  left: 10px;
}

#cent {
  text-align: center;
}

#right {
  position: absolute;
  right: 10px;
}

@media screen and (width<=400px) {
  section ul {
    display: inline;;
  }

  #cent{
    text-align: center;
  }

  #right{
    text-align: center;
  }
}
